<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-slcmicoeasylink" version="0.0.3" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>slcmicoeasylink</name>
    <description>Cordova SLCMicoEasyLink Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,SLCMicoEasyLink</keywords>

    <engines>
            <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/SLCMicoEasyLink.js" name="SLCMicoEasyLink">
        <clobbers target="window.SLCMicoEasyLink" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SLCMicoEasyLink">
                <param name="ios-package" value="SLCMicoEasyLink"/>
            </feature>
        </config-file>

        <header-file src="src/ios/SLCMicoEasyLink.h" />
        <source-file src="src/ios/SLCMicoEasyLink.m" />
        <!--MICO source-->
        <header-file src="src/ios/EasyLink.h" />
        <source-file src="src/ios/libEasyLink.a" framework="true"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="SLCMicoEasyLink">
                <param name="android-package" value="com.siemens.dolphin.SLCMicoEasyLink.SLCMicoEasyLink" />
            </feature>
        </config-file>

        <!-- permission -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/SLCMicoEasyLink.java" target-dir="src/com/siemens/dolphin/SLCMicoEasyLink" />

        <!-- MICO SDK -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/libs/micosdk-release.aar" target="libs/micosdk-release.aar" />
    </platform>
</plugin>
